<h1>Bonjour, merci de confimer votre email !</h1>

<p>
    Merci de bien vouloir confirmer votre email en cliquant sur le bouton ci-dessous<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement !
</p>
