{% extends 'base.html.twig' %}

{% block title %}Rénitialisation mot de passe{% endblock %}

{% block body %}
    <h1>Rénitialisation mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-dark">Rénitialisation mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
