{% extends 'base.html.twig' %}

{% block title %}O'wine{% endblock %}

{% block body %}

<div class="text-center mt-5 mb-5">
    <h1 class="mt-5 mb-5">⚖️ Legal mentions ⚖️</h1>

    <div class="container-md">
        <p>Osti qui fa frette. T'es de bonne heure sul piton toé à matin, quessé qui t'arrive ? Calvenusse de tabarnouche de mausus de cârosse de patente à gosse. Je lui ai garôché une estie de garnotte en plein dans sa crisse de face de crosseur, il en menait pas large je te jure. Baptême de crisse de cibole de viande à chien, j'en ai plein mon casse d'être toute décalissé de la vie, avec le windshier de mon char toute déviargé par l'autre esti de cave. Yé un peu niaiseux le niochon de voisin, il crisse eu'rien avec sa vie.</p>

        <p>Toryeu que c'est cheap cette esti de cochonnerie-là. Il m'a même pas redonné mon ptit change, ya essayé de me crosser le câlice. Arrête de faire la baboune tabaslack, a va fondre la slutch. Calvenusse de tabarnouche de mausus de cârosse de patente à gosse. Je lui ai garôché une estie de garnotte en plein dans sa crisse de face de crosseur, il en menait pas large je te jure. Baptême de crisse de cibole de viande à chien, j'en ai plein mon casse d'être toute décalissé de la vie, avec le windshier de mon char toute déviargé par l'autre esti de cave.</p>
            
        <p>Heille les ti-culs, vous er'virez de bord drette là si vous pensez que vous vous écartez dans le bois talheure. Ya 'ien qu'une affaire qui me démange, c'est de le pogner par les dessours de bras pis de le câlicer au travers du châssis. J'ai ben d'la misère avec les colons en bedaine. Quessé tu veux j'te dise sacrament, fouille-moé bout d'viarge, je le sais-tu moé. Je lui ai garôché une estie de garnotte en plein dans sa crisse de face de crosseur, il en menait pas large je te jure. Je m'en crisse, mais câlicement.</p>

        <p>Je m'en crisse, mais câlicement. Calvenusse de tabarnouche de mausus de cârosse de patente à gosse. Mon char est resté pogné dans crisse de slotche toute la nuite. Les crottes de fromage, bien sqouick sqouick dans yeule, c'est ça le bonheur. T'es de bonne heure sul piton toé à matin, quessé qui t'arrive ? Ben coudonc, t'es encore là toé ?</p>

        <p>Ben coudonc, t'es encore là toé ? Mon char est resté pogné dans crisse de slotche toute la nuite. Toryeu que c'est cheap cette esti de cochonnerie-là. Je crisse mon camp d'icite anyway, je déguedine au plus sacrant, ça sent la cibole de marde. Ça a fessé dans le dash en esti hier, j'étais paqueté en tabarnak, je suis crissement lendemain de veille. Sa blonde m'en a sacré toute une au parcheesi, mais elle a été mardeuse.</p>

    </div>
</div>
<p>Illustrations : <a href="https://stock.adobe.com/fr/contributor/206203859/artinspiring?load_type=author&prev_url=detail">&copy; artinspiring</a> - stock.adobe.com</p>
<p>Lorem : <a href="https://ipsum.wikebec.org/">Québec Ipsum</a></p>

{% endblock %}
