<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-dark"><i class="far fa-trash-alt mr-2"></i>Supprimer</button>
</form>
