{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
<h2 class="mb-3">Vos commandes</h2>
{% if app.user.sentOrder is empty %}
<p>Vous n'avez passé aucune commande pour l'instant
{% else %}
{% for order in app.user.sentOrder %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div class="padding-bottom-3x mt-5 mb-5">
        <div class="card mb-3">
          <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Commande N° - </span><span class="text-medium">{{ order.trackingNumber }}</span></div>
          <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Expédié via:</span> {{ order.carrier|upper }}</div>
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Livraison prévue le:</span> 30 juillet 2020</div>
          </div>
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step {% if order.status > 0 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-cart"></i></div>
                </div>
                <h4 class="step-title">Commande confirmée</h4>
              </div>
              <div class="step {% if order.status > 1 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-config"></i></div>
                </div>
                <h4 class="step-title">En cours de traitement</h4>
              </div>
              <div class="step {% if order.status > 2 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-rocket"></i></div>
                </div>
                <h4 class="step-title">Expédiée</h4>
              </div>
              <div class="step {% if order.status > 3 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-bicycle"></i></div>
                </div>
                <h4 class="step-title">En cours de livraison</h4>
              </div>
              <div class="step {% if order.status > 4 %}completed{% endif %}">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-home"></i></div>
                </div>
                <h4 class="step-title">Livrée</h4>
              </div>
            </div>
          </div>
        </div>
        {# <div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
          <div class="text-left text-sm-right"><a class="btn btn-outline-primary btn-rounded btn-sm" href="orderDetails" data-toggle="modal" data-target="#orderDetails">Détails de la commande</a></div>
        </div> #}
      </div>
    {% endfor %}
{% endif %}

{% endblock %}
