{% extends 'base.html.twig' %}


{% block body %}

    <h1 class= "text-center">Page not found</h1>

    <p class= "text-center"> Oups pas de chance !  </p>
    <p class= "text-center"><a class= "btn btn-dark" href="{{ path('homepage') }}"><i class="fas fa-home"></i> Accueil</a></p>
    <div class="d-flex-float-right text-center">
        <img src="{{ asset('images/404-14.png') }}" style="width: 60%;" alt="404 pour retour à la page d'acceuil">
    </div> 

{% endblock %}